@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
/*caja negrta de tarjetas*/
/*tarjetas grande*/
.opinion{
  color: var(--blanco);
  font-family: 'Marcellus', serif;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
  margin-bottom: 118px;
  margin-top: -65px;
}
.image img{
  width: 80%;
}
.loremc{
  width: 120%;
}
.opinion .targets{
  background: var(--degradado);
  display: flex;
  padding: .5rem;
  width: 25%;
  height: 100%;
  border-radius: 5px;
  position: relative;
}
.redes-sociales{
  display: flex;
  font-size: 20px;
  margin-top: 5em;
  justify-items: left;
  margin-top: 3em;
}