@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #eaeaea;
}
h1,h2,h3,h4,h5{
font-family: 'Marcellus' , serif;
}
/*nav grande*/
nav{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: var(--negro2);
}
.logo{
    padding:1rem;
}
.logo img{
width: 100%;
max-width: 180px;
}
.logo i {
display: none;
}
.navegacion{
display:block;
display: flex;
flex-direction: row;
background-color: var(--negro2);
color: #fff;
justify-content: space-between;
height: 2em;
}
.navegacion-hr{
display:none;
}
.navbar-button{
background-color: var(--azuloscuro);
border-radius: 3px;
font-size: 1em;
padding: 0.5rem;
font-family: 'Marcellus', serif;
color: var(--blanco);
cursor: pointer;
margin-top:-6%;
}
.navegacion a{
    color: var(--blanco);
    text-decoration: none;
    text-align: center; 
    font-family: 'Marcellus', serif;
    font-size: 1.3rem;
    padding-top: 8%;
}
nav a:hover{
width:auto;
background-color: transparent;
}
.headerr{
    background-image: url('../img/slide1.jpg');
    background-size: cover;
    background-position: 50% 50%;
    min-height: 400px;
    margin-top: -1em;
}
/**/
.headerr .texthr{
    top: 3.7em;
    font-size: 3.7em;
    padding: 15px;
    color: var(--blanco);
    z-index: 2;
    position: relative;
    background-color: rgba(0, 0, 0, 0.35);
}
/*section grande*/
.sec1{
    display: flex;
    padding: 2rem 2rem .5rem 2rem;
    font-family: 'Marcellus', serif;
    font-weight: bold;
}
    
.sec1 p{
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    font-family: 'Marcellus', serif;
    width: 65%;
    margin-left: 4%;
}
.sec1 img{
    width: 90%;
    height: 75%;
    margin-left: 11%;
    margin-top: 5%;
}
/*features grande*/
#features{
    background: url(../img/bg-features.png);
    color: white;
    padding-top: 1rem;
}
    
.features-title{
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
}
.features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.feature{
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
    
.feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}
    
.feature-blue{
    background-color: #00325eae;
}
    
.feature-black{
    background-color: rgba(0, 0, 0, 0.59);
}
/*Ubicanos grande*/
.sc2 {
    text-align: center;
    font-family: 'Marcellus', serif;
}
hr{
    width: 30%;
    margin-left: 35rem;
}
.mapa{
    width: 96%;
}
/*caja negrta de tarjetas*/
.nosotros{
    display: flex;
    background-color: #000;
    color: var(--blanco);
    font-size: 2rem;
    height: 140px;
    justify-content: center;
    padding-top: 1.5rem;
    font-family: 'Marcellus',serif;   
}
/*tarjetas grande*/
.opinion{
    color: var(--blanco);
    font-family: 'Marcellus', serif;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
    margin-bottom: 118px;
    margin-top: -65px;
}
.image img{
    width: 80%;
}
.loremc{
    width: 120%;
}
.opinion .targets{
    background: var(--degradado);
    display: flex;
    padding: .5rem;
    width: 25%;
    height: 100%;
    border-radius: 5px;
    position: relative;
}
.redes-sociales{
    display: flex;
    font-size: 20px;
    margin-top: 5em;
    justify-items: left;
    margin-top: 3em;
}
/*footer grande*/
footer{
    justify-content: space-between;
    background-color: #000;
    color: #eaeaea;
}

footer hr{
    display: none;
}

.loremft{
    padding: 0 59rem 1rem .7rem;
    position: absolute;
    width: 15%;
    padding: 1rem;
}

.contactos{
    padding: 1.2em;
    position: relative;
    left: 500px;
}

.politicaPadre{
    display: flexbox;
    margin-left: 70%;
    position: relative;
    margin-top: -1em;
}
.redes-sociales{
    display: flex;
    margin-left: 1.5%;
    margin-top: 0;
}

footer .fa-facebook-f{
    padding-left: 2rem;
}

footer .fa-twitter{
    padding-left: 2rem;
}