@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
*{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #eaeaea;
}
h1,h2,h3,h4,h5{
font-family: 'Marcellus' , serif;
}
/*nav dashboard grande*/
.das{
  background-image: url(../../pages/img/das_1.jpeg);
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
}
/*datos dashboard*/
.padreD{
  width: 100%;
  height: 100vh   ;
  background-image: url(../../pages/img/das_1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  grid-template-columns: 20% auto;
  font-family: 'Marcellus', serif;
}
.hcampana{
  display: none;
}
.Lhotelia{
  width: 230px;
  height: 100%;
  background-color: var(--azulnegro);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.h3{
  color: #fff;
  font-size: 1.2em;
}
/* .foto{
  margin-left: -57rem;
} */
.imgLh{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 190px;
  height: auto;
  padding: 20px;
  align-items: center;
  color: var(--blanco);
  background-image: url(../../pages/img/Group\ 200.svg);
  background-size: cover;
}
.imgLh a{
  text-decoration: none;
  color:#fff;
  font-size: 1.3em;
}
.inputt{
  width: 250px;
  height: 20px;
}
.lista{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.listaMv{
  display: none;
}
.lista a{
  text-decoration: none;
  color: #fff;
}
.linksesion{
  text-decoration: none;
  color: #fff;
}
.crsesion{
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #1c1e27;
  text-decoration: none;
  color: #fff;
}